@import "tailwindcss";

* {
  font-family: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }
}
